
.feature_work .box{
    display: flex;
}

.feature_work .brand{
    display: flex;
    justify-content: space-between;
    margin: 96px 0;
}

.feature_work .branduser{
    width: 15%;
}

.feature_work .brand .img img {
    margin-left: 59px;
    margin-top: 30px;
}

.feature_work .title h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    width: 630px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.feature_work .item{
    width: 31%;
    background: #F4F6FC;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    margin-right: 32px;
}

.feature_work .item:last-child{
    margin-right: 0;
}

.feature_work .item img{
    width: 32px;
    height: 32px;
    margin-bottom: 28px;
}

.feature_work .item h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 12px;
}

.feature_work .item p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    width: 324px;
}