.copyright{
    padding: 32px 0;
    background: #fff;
}

.copyright .box{
    display: flex;
}

.copyright .copyrighttext{
    width: 50%;
}

.copyright .copyrighttext p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #282938;
}

.copyright .menu{
    width: 50%;
}

.copyright .menu ul{
    display: flex;
    justify-content: flex-end;
}

.copyright .menu ul li{
    margin-left: 32px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #282938;
    cursor: pointer;
}